# Telegram Bot Token (BotFather'dan olingan)
BOT_TOKEN=your_bot_token_here

# Admin Telegram ID lar (vergul bilan ajratilgan)
ADMIN_IDS=1054482233

# Koordinatorlar Telegram ID lar (vergul bilan ajratilgan)
COORDINATOR_IDS=5238121241

# Guruh ID si
GROUP_ID=-1003981182641

# Google Sheets
SHEET_KEY=your_google_sheet_key
GOOGLE_SERVICE_ACCOUNT_JSON={"type":"service_account","project_id":"..."}
